CLICKZETTA_TEST_SERVICE=cn-shanghai-alicloud.api.clickzetta.com
CLICKZETTA_TEST_INSTANCE=your_instance
CLICKZETTA_TEST_WORKSPACE=your_workspace
CLICKZETTA_TEST_USERNAME=your_username
CLICKZETTA_TEST_PASSWORD=your_password
CLICKZETTA_TEST_VCLUSTER=default_ap
CLICKZETTA_TEST_SCHEMA=dbt_test
